body {
    padding-top: 56px;
}
.navbar-dark .navbar-brand, .navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
    color: #696763;
}
.navbar-dark .navbar-nav .active>.nav-link {
    color: #696763;
}
.navbar-dark .navbar-nav .nav-link {
    color: #696763;
}
.fixed-bottom, .fixed-top {
    background: #F0F0E9 !important;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.fa-star:before {
    content: "\f007";
}
.social {
    font-family: FontAwesome;
    padding-right: 15px;
}

ul li a i{
    margin-right: 5px;
}
.bg-dark {
    background-color: #fdf0ea !important;
}
.m-0 .font {
    color:#696763;
}
/***********************************************/

.product{
    border: 1px solid #dddddd;
    height: 321px;
}

.product>img{
    max-width: 230px;
}

.product-rating{
    font-size: 20px;
    margin-bottom: 10px;
}

.product-title{
    font-size: 20px;
}

.product-desc{
    font-size: 14px;
}

.product-price{
    font-size: 22px;
}

.product-stock{
    color: #74DF00;
    font-size: 20px;
    margin-top: 10px;
}

.product-info{
    margin-top: 50px;
}
.content-wrapper {
    max-width: 1140px;
    background: #fff;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 10px;
    border: 0px;
    border-radius: 0px;
}

.container-fluid{
    max-width: 1140px;
    margin: 0 auto;
}
.btn-group {
    margin-right: 10px;
}
.list-group-item.active {
    z-index: 2;
    color: #696763;
    background-color: #fdf0ea;
    border-color: #d6d6d6;
}
.btn {
    margin-right: 10px;
}
*, *:before, *:after {
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
}

body {
    background: #fbfafa;
    font-family: 'Titillium Web', sans-serif;
}

a {
    text-decoration: none;
    color: #1ab188;
    transition: .5s ease;
}
a:hover {
    color: #179b77;
}

.form {
    background: rgba(19, 35, 47, 0.9);
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 40px 0;
}
.tab-group:after {
    content: "";
    display: table;
    clear: both;
}
.tab-group li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s ease;
}
.tab-group li a:hover {
    background: #179b77;
    color: #ffffff;
}
.tab-group .active a {
    background: #1ab188;
    color: #ffffff;
}

.tab-content > div:last-child {
    display: none;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin: 0 0 40px;
}


label .req {
    margin: 2px;
    color: #1ab188;
}

label.active {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;
}
label.active .req {
    opacity: 0;
}

label.highlight {
    color: #ffffff;
}

input, textarea {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 10%;
    padding: 5px 10px;
    background: none;
    background-image: none;
    border: 1px solid #a0b3b0;
    color: #ffffff;
    border-radius: 0;
    transition: border-color .25s ease, box-shadow .25s ease;
}
input:focus, textarea:focus {
    outline: 0;
    border-color: #1ab188;
}

textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
}

.field-wrap {
    position: relative;
    margin-bottom: 40px;
}

.top-row:after {
    content: "";
    display: table;
    clear: both;
}
.top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
}
.top-row > div:last-child {
    margin: 0;
}

.button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #1ab188;
    color: #ffffff;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}
.button:hover, .button:focus {
    background: #179b77;
}

.button-block {
    display: block;
    width: 100%;
}

.forgot {
    margin-top: -20px;
    text-align: right;
}
.css-class {
    width: 70px;
    height: 40px;
}
.social {
    color: #000000;
}
.py-5 {
    margin-top: 100px;
}
.justify-content-center{
    margin-top: 22px;
}
.col-md-8 {
    margin-top: 25px;
}
.page-item.active .page-link {
    z-index: 1;
    color: #FFFFFF;
    background-color: #fdf0ea;
    border-color: #dee2e6;
}
.page-link {
    color: #586875;
}

/*Zoom picture*/
*{
    margin: 0;
    padding: 0;
    border: none;
}
.zoom-pic {
    margin: auto;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.zoom-pic:hover img {
    transform: scale(1.5);
    transition: 1s;
}
/*Banner*/
.d-block {
    margin-left: 20px;
    width: 97%;
    display: block!important;
    height: 55%;
}
/*Loading page*/

.loader
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    width: 100px;
    height: 100px;
    animation: animate 1s linear infinite;
}
.loader span
{
    position: absolute;
    width: 50px;
    height: 50px;
    background: #f00;
    animation: rotate 1s linear infinite;
}
.loader span:nth-child(1)
{
    top: 0;
    left: 0;
    background: #f79f1f;
}
.loader span:nth-child(2)
{
    top: 0;
    right: 0;
    background: #12cbc4;
}
.loader span:nth-child(3)
{
    bottom: 0;
    left: 0;
    background: #ed4c67;
}
.loader span:nth-child(4)
{
    bottom: 0;
    right: 0;
    background: #a3cb38;
}
@keyframes animate
{
    0%
    {
        width: 100px;
        height: 100px;
    }
    10%
    {
        width: 100px;
        height: 100px;
    }
    50%
    {
        width: 150px;
        height: 150px;
    }
    90%
    {
        width: 100px;
        height: 100px;
    }
    100%
    {
        width: 100px;
        height: 100px;
    }
}

@keyframes rotate
{
    0%
    {
        transform: rotate(0deg);
    }
    10%
    {
        transform: rotate(0deg);
    }
    60%
    {
        transform: rotate(90deg);
    }
    90%
    {
        transform: rotate(90deg);
    }
    100%
    {
        transform: rotate(90deg);
    }
}
/*Color button*/
#btn-color-wlist {
    color: #fff;
    background-color: #f3c0e8;
    border-color: #ffffff;
}
#btn-color-cart {
    color: #fff;
    background-color: #61d8a0;
    border-color: #ffffff;
}


.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* border: 1px solid transparent; */
    padding: .375rem .75rem;
    font-size: .9rem;
    line-height: 1.6;
    border-radius: .25rem;
}
.product-title {
    margin-top: 15px;
    font-size: 20px;
}
.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn:not(:last-child):not(.dropdown-toggle) {
    /* border-top-right-radius: 0; */
    /* border-bottom-right-radius: 0; */
}
.product-title {
    color: #c9a654;
    margin-top: 15px;
    font-size: 20px;
}
.color-price {
    color: #c9a654;
}
.card-img-top {
    width: 253px;
    height: 160px;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}
#set-all-item {
    z-index: 2;
    color: #696763;
    background-color: #aeb1b5;
    border-color: #d6d6d6;
}
.btn-primary {
    color: #fff;
    background-color: #3587cc;
    border-color: #5484ad;
}

